kbd {
    border-radius: 0.3rem;
}

.home.project .hero img {
    max-height: 240px;
}

.custom-container-title {
    align-items: center;
    display: flex;
}

.home.project .features {
    padding: 1.2rem 1.2rem;
}